<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Change Users</h1>
    <hr/>
    <a href="/">Home</a><br/><br/>
    <a href="/users">Users</a>
    <hr/>
    <form action="/edit" method="post">
        <label>Id</label><br/>
        <input disabled th:value="${model.id}">

        <input type="hidden" th:field="*{model.id}">
        <br/><br/>
        <label>name</label><br/>
        <input th:field="*{model.name}" >
        <br/><br/>
        <label>phone</label><br/>
        <input th:field="*{model.phone}">
        <br/><br/>
        <input type="submit" value="save change">

    </form>
     <hr/>
</body>
</html>